:root {
  --accent-color: #2196f3;
  --add-accent-color: #188ce8;
  --logo-studio-color: #000000;
  --main-title-color: #ffffff;
  --first-title-color: #212121;
  --second-title-color: #757575;
  --contact-footer-color: #d9d9d9;
  --main-background-color: #ffffff;
  --first-background-color: #e5e5e5;
  --second-background-color: #f5f4fa;
  --accent-background-color: #2f303a;
  --transition-duration-main: 250ms;
  --transition-timing-function-main: cubic-bezier(0.4, 0, 0.2, 1);
  --font-family-main: "Roboto", sans-serif;
  --font-family-add: "Raleway", sans-serif;
}
